$body-width: 1600px;
$body-height: 10469px;

$desktop-width: 1200px;

$header-section-width: 1600px;
$header-section-height: 900px;
$header-height: 184px;
$header-top-height: 104px;
$header-bottom-height: 80px;

$wrapper-width: 1200px;

$footer-height: 583px;

$logo-filename: '../../images/logo.png';
$logo-text1: '../../images/logo1-text.svg';
$logo-text2: '../../images/logo2-text.svg';

$phone-number: '+7 (4872) 79-29-10';
$phone-icon: '../../images/phone.png';
$contact-us-width: 410px;
