$body-width: 1600px;
$body-height: 10469px;

$header-section-width: 1600px;
$header-section-height: 900px;
$header-height: 184px;
$header-top-height: 52px;
$header-bottom-height: 80px;

$wrapper-width: 1200px;

$footer-height: 583px;