@import '../abstracts/variables';
@import '../abstracts/colors';
@import '../abstracts/mixins';

.header-section {
	width: 100%;
	max-width: $header-section-width;
	height: $header-section-height;
	background-image: url('../../images/header-background.png');
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
}

.header {
	
	width: 100%;
	height: $header-height;
	flex-direction: column;
	background-color: $header-background;

}

.header-top {
	@include center-flex;
	width: 100%;
	height: $header-top-height;
	margin-top: 26px;
	.caption {
		font-size: $caption-font-size;
		font-weight: $caption-font-weight;
		color: $color-typography;
	}
}

.header-bottom {
	
	width: 100%;
	height: $header-bottom-height;
	padding: 31.5px 0 31.5px 0;
}

.header-top,
.header-bottom {
	display: flex;
	justify-content: space-between;
}

.nav-header {
	@include center-flex;
	width: 1259px;
	height: 24px;
	background-color: firebrick;
}
.search {
	width: 24px;
	height: 24px;
	background-image: url('../');
}

.logo {
	display: flex;
	justify-content: space-between;
	width: 198.5px;
	height: 48px;
}

.logo-image {
	width: 43px;
	height: 48px;
	background-image: url($logo-filename);
}

.logo-text {
	width: 142px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.logo-text1 {
	width: 128.6px;
	height: 24.5px;
	background-image: url($logo-text1);
}
.logo-text2 {
	width: 124px;
	height: 8.5px;
	background-image: url($logo-text2);
}

.phone {
	width: 150px;
	height: 20px;
	font-weight: 600;
	font-size: $text-font-size;
}

.contact-us {
	@include center-flex;
	width: $contact-us-width;
}